@page
@model Exercises.Pages.Lesson1.Assignment1

@{
    Layout = null;
}

<div>
    <p>
        <span id="scoreHome">@Model.homeScore</span> - <span id="scoreAway">@Model.awayScore</span>
    </p>
    <div>
        <a id="incrementHomde" href="?action=inchome&scoreHome=&ScoreAway">Home ++</a>
        <a id="decrementHome" href="?action=dechome&ScoreHome&ScoreAway">Home --</a>

        <a id="incrementAway" href="?action=incAway&ScoreHome&ScoreAway">Away ++</a>
        <a id="decrementAway" href="?action=decAway&ScoreHome&ScoreAway">Away --</a>
    </div>
    <div>
        <a id="reset" href="?action=reset&ScoreHome&ScoreAway">Reset</a>
    </div>
</div>

